# Dependency directories
/node_modules

# Build output
/dist

# Environment variables
.env
.env.local

# IDE and editor files
.idea/
.vscode/

# Compiled output
*.log
*.gz

# Cache and temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
